﻿@model IEnumerable<Webwinkel.Models.Country>

<div class="list">
    <!-- kijk eerst na als er objecten in het model staan -->
    @if (Model.Any())
            {
        <table>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="/Country/ReadingOne/@item.Id" class="tile">
                            <span class="icon-arrow-right"></span>
                            <span class="screen-reader-text">Select</span>
                        </a>
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Geen landen ingevoerd in de Country entiteit.</p>
    }
</div>
