﻿@*model IEnumerable<Webwinkel.Models.OrderStatus>*@
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="/OrderStatus/Insert" method="post">
        <header>
            <h2>Insert nieuwe OrderStatus</h2>
            <div id="command-panel" class="command-panel">
                <button type="submit" name="action" id="Insert" value="Insert" class="tile">
                    <span class="icon-disk"></span>
                    <span class="screen-reader-text">Insert</span>
                </button>
                <a href="/OrderStatus/InsertingCancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
            </div>
        </header>
        @Html.Action("ReadingAll");
        <div class="detail">
            <fieldset>
                <div>
                    <label for="OrderStatusName">Naam</label>
                    <input id="OrderStatusName" name="OrderStatusName" class="text"
                           style="width: 32.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="OrderStatusDescription">Beschrijving</label>
                    <textarea id="OrderStatusDescription" name="OrderStatusDescription" class="text"
                              style="width: 32.5%;" type="text" value=""></textarea>
                </div>
            </fieldset>
            <div class="feedback">
                @Html.ValidationSummary()
            </div>
        </div>
    </form>
</div>