﻿@model IEnumerable<Webwinkel.Models.OrderStatus>

<div class="list">
    <!-- kijk eerst na als er objecten in het model staan -->
    @if (Model.Any())
            {
        <table>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="/OrderStatus/ReadingOne/@item.Id" class="tile">
                            <span class="icon-arrow-right"></span>
                            <span class="screen-reader-text">Select</span>
                        </a>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Geen basiseenheden ingevoerd in de Orderstatus entiteit.</p>
    }
</div>
