﻿/* --------- form -----------------*/
form input[type=text] {
    padding: 0.2em;
    border: 0.1em solid rgb(161, 156, 161);
    border-image: none;
    font-size: 1.6em;
    width: 100%;
}

form input:focus {
    outline: none;
}

form input[type=checkbox], input[type=radio] {
    /* All browsers except webkit*/
    transform: scale(2);
    /* Webkit browsers*/
    -webkit-transform: scale(2);
    margin: 0 1.8em 0 0.8em;
    padding: 0.3em;
}

form label {
    font-size: 1.4em;
    color: #554e55;
}

form select {
    padding: 0.2em;
    border: 0.1em solid rgb(161, 156, 161);
    font-size: 1.6em;
}

form textarea {
    height: 5em;
    width: 60%;
}

form a {
    padding: 0.2em 0 0.2em 0;
    height: 3em;
}

form table a {
    color: #6083A3; /*februrary low*/
    text-align: center;
    border: 0;
    font-size: 3.2vh;
    max-width: 1.8em;
    height: 1.8em;
    float:  right;
    overflow: visible;
    padding-left: 0.2em;
    margin: 0;
    border-color: none;
}

form a:hover {
    color: rgb(226,69,16);
    cursor: pointer;
}

form a span {
    padding-right: 0.3em;
}

form table {
    border: 0.1em solid #242424;
    border-collapse: collapse;
    width: 100%;
}

form td:first-child {
    width: 4em;
}

form td {
    padding-right: 1em;
}

form table tr:nth-child(even) td,
form table tr:nth-child(even) td a {
    background-color: #95C9DA;
}

form table tr:nth-child(odd) td,
form table tr:nth-child(odd) td a {
    background: #B4D8E4;
}

form fieldset {
    border: 2px solid #FF7D82;
    margin-bottom: 2%;
    padding: 2%;
    width: 100%;
}

form fieldset div {
    margin: 0.5em 0 0 0;
    width: 90%;
}

form fieldset div .text {
    width: 70%;
}

form fieldset div .integer {
    width: 6em;
}

form .search {
    width: 100%;
    height: 6%;
    background-color: #95C9DA;
}

form .search input {
    font-size: 1.5em;
    line-height: 1.8em;
    border: none;
    width: 70%;
    background-color: #95C9DA;
}
