/*
    showroom-tile.css
*/
.showroom .tile {
    position: relative; /* masker is absoluut geplaatst hierop*/
    float: left; /* tegels naast en onder elkaar */
    overflow: hidden;
    border-right:  0.3em solid #fff;
    border-bottom: 0.3em solid #fff;
    /* standaard schema, kan eventueel overschreven worden
        met een scheme klasse */
    text-shadow: 0 0 6px #414A4C;
}

.showroom > .tile .action {
    position: absolute;
    top: 70%;
    left: 25%;
    display: block;
    width: 50%;
    padding: 2% 2%;
    background: rgba(12,12,12, 0.4);
    color: #fff;
    text-transform: uppercase;
    -web-text-transform: uppercase;
    -moz-text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    font-size: 100%;
    text-align: center;
}


.showroom > .tile > h1 {
    display: block;
    text-transform: uppercase;
    color: #f4f0ec;
    text-align: center;
    font-size: 5vh;
    padding: 0 0 0 0;
    margin: 2% 0 0 0;
    overflow: hidden;
    -webkit-text-shadow: 0 0 6px #414A4C;
    -moz-text-shadow: 0 0 6px #414A4C;
    text-shadow: 0 0 6px #414A4C;
}

.showroom > .tile > .icon-font {
    color: #f4f0ec;
    text-align: center;
    font-size: 10vh;
    padding: 0 0 0 0;
    margin: 3% 0 2% 0;
    overflow: hidden;
    -webkit-text-shadow: 0 0 6px #414A4C;
    -moz-text-shadow: 0 0 6px #414A4C;
    text-shadow: 0 0 6px #414A4C;
}

.showroom > .tile > p {
    font-style: italic;
    font-size: 3vh;
    color: #fff;
    padding: 1% 3% 3% 3%;
    text-align: center;
}

/*------------------------ hover zonder masker  ---------------------------*/
.showroom > .tile.hover:hover {
    cursor: hand;
    background: rgba(91,98,88, 1);
    display: block;
}
